<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.sagacar329253" version="0.0.1"  xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
    >
  <name>sagaCar</name>
  <description>
        Projeto Estudo
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Rodrigo Melchior
    </author>
 
   <icon src="icon.png" />
   <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />
</widget>